# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
.DS_Store
208_PROGRAM_CARD_VINTAGE/208_PROGRAM_CARD_PROTO_vintage-backups/208_PROGRAM_CARD_PROTO_vintage-2021-11-27_182205.zip
208_PROGRAM_CARD_VINTAGE/208_PROGRAM_CARD_PROTO_vintage.kicad_prl
208_PROGRAM_CARD_VINTAGE/208_PROGRAM_CARD_PROTO_vintage-backups/208_PROGRAM_CARD_PROTO_vintage-2021-11-27_185605.zip
208_PROGRAM_CARD_VINTAGE/208_PROGRAM_CARD_PROTO_vintage-backups/208_PROGRAM_CARD_PROTO_vintage-2021-11-27_190949.zip
208_PROGRAM_CARD_VINTAGE/208_PROGRAM_CARD_PROTO_vintage-backups/208_PROGRAM_CARD_PROTO_vintage-2021-11-27_193035.zip
208_PROGRAM_CARD_VINTAGE/f1@33.33x.png
*.zip
Allen_Strange_-_Programming_and_Meta-Programming_the_Electro_Organism.pdf
Allen_Strange_-_Programming_and_Meta-Programming_the_Electro_Organism.pdf
